*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
}
body{
    font-family: Verdana, Tahoma, sans-serif;
	font-size: 16px;
    
}
.container{
    width: 80%;
    margin: 0px auto;
}
.header{
    background-color: #fff000;
     overflow: hidden;
}
.header1{
    margin-top: 20px;
    font-weight: bold;
    
}
.header1 span{
    float: left;
    margin-left: 20%;
    transform: translateY(-30px);
}
.header1 img{
    transform: translateY(15px);
}

ul{
    list-style-type: none;
    overflow: hidden;
}
.navigation{
    margin-left: 40%;
    
  
}
.navigation li{
    float: left;
    margin-left: 15%;
}
.navigation a{
    text-decoration: none;
    color: #000; 
}
.text{
    margin-top: 3%;
    width: 30%;
margin-left:20%;
    float: left;
   
}

.content{
    margin-top: 30px;

}
.icons ul{
    width:120%;
    margin-left:-15%;
}

.icons li{
    float: left;
    margin:15px;
    font-size: 25px; 
}
.phone{
    width: 22%;
    background-color: #fff;
    height: 380px;
    margin-left: 66%;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
}
.black{
    background-color: #000;
    width: 90%;
    height:80%;
    margin-left:5%;
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    color:#fff000;
    text-align: center;
    font-weight: bolder;
   }
.black span{
    display: block;
    margin-right: 5%;
    margin-top: 30%;
}


.slider span{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 10px;
}
.slider span:hover{
    background-color: rgba(255, 240, 0, 0.2);
}

.slider{
   margin-top: 40px;
    margin-left: 45%;
    margin-bottom: 30px;
    overflow: hidden;
}
/*секция white*/

.top{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.list ul{
    width: 100%;
    margin-left:3%;
}
.list li{
    float: left;
    width: 20%;
    margin: 4%;
}
.list span{
    float: left;
    font-size: 30px;
    transform: translate(-60px, 15px);
}

.list h3{
    transform: translateX(-20px);
}
.list article{
    transform: translateX(20px);
}
/* секция footer*/
.footer{
    background-color: #000;

}
.footer h2{
    text-align: center;
    color: #fff000;
}
.footer p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color:#fff;
}
form{
    text-align: center;
}
input{
    width: 50%;
    border-radius: 5px;
    height: 25px;
    margin-right: 10px;
}
button{
    width: 10%;
    height: 25px;
    background-color: #fff000;
    border-radius: 5px;
}
.icons2 span{
    background-color: #000;
    color: #fff000;
    font-size: 20px;
}
.icons2 ul{
    margin-left: 35%;
}
.icons2 li{
    float: left;
    margin: 15px;
}

.bottom ul{
    margin-left: 9%;
}

.bottom li{
    float: left;
    margin: 20px;
   }
.bottom p{
    text-align: left;
}
@media screen and (max-width:1088px){
    .bottom ul{
        margin-left: 0%;
    } 
}
@media screen and (max-width:980px){
    .bottom ul{
        margin-left: -5%;
    }
    .bottom li{
        margin: 10px;
    }
    .slider{
        margin-top: 10%;
    }
}
/*медиазапросы*/
@media screen and (max-width:883px){
    .header1 span{
        margin-left: 10%;
    }
    .navigation{
        margin-left: 30%;
    }
    .text{
        margin-left:-15%
    }
    .slider{
        width: 100%;
    }
}

@media screen and (max-width:825px){
    .icons2 ul{
    margin-left: 30%;
}
     .bottom ul{
        margin-left: 5%; 
    }
    .bottom li{
        margin: 20px;
        
    }
   
    .list li{
        width: 30%;
        margin-left: 15%;
        
    }
    .free{
        transform: translateY(-300px);
    }
    .footer{
        transform: translateY(-300px);
    }
}
@media screen and (max-width:740px){
       .bottom ul{
        margin-left: 20%;
    }
     .bottom li{
        width: 50%;  
    }
    button{
        width: 15%;
    }
    .phone{
        width: 40%;
        margin-left: 55%;
    }
    .text{
        margin-top:0%;
    }
    .header1 span{
        margin-left: 3%;
    }
    .navigation{
        margin-left: 0%;
    }
    .icons li{
        margin: 10px;
    }
}

@media screen and (max-width:681px){
     .icons2 ul{
    margin-left: 20%;
}
    .text{
        width: 90%;
        margin-left:5%;
        float: none;
    }
    .text h2{
        text-align: center;
    }
    .icons{
        margin-left: 45%;
    }
    .phone{
        width: 45%;
        margin-left: 30%;
    }
    .navigation li{
        margin: 10px;
    }
        .container{
    width: 100%;
    margin: 0px auto;
}
}

@media screen and (max-width:495px){
     .bottom ul{
        margin-left: -10%;
    }
     .bottom li{
        width: 90%;
    }
    .header1 span{
        margin-left:30%;
    }
   
      .navigation{
            width: 100%;
         margin-left: 20%;
          padding: inherit;
    }
    .list li{
        width: 80%;
    }
     .free{
        transform: translateY(0px);
    }
    .footer{
        transform: translateY(0px);
    }
}
@media screen and (max-width:350px){
    button{
        width: 18%;
    }
    .icons2 ul{
    margin-left: 5%;
}
    .navigation{
        margin-left: 10%;
    }
}